.header {
    &-top {
        background-color: $grey;
        padding-top: 12px;
        padding-bottom: 12px;

        &__container {
            @include flexCBetween;
        }

        &__location {
            color: $dark;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &__work {
            color: $dark;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__tel {
            a {
                color: $red;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        &__socials {
            @include flexCenter;
            column-gap: 20px;
        }

        &__social {
            width: 32px;
            height: 32px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-bottom {
        background-color: $white;
        padding-top: 20px;
        padding-bottom: 20px;

        &__container {
            @include flexCBetween;
            column-gap: 20px;
        }

        &__menu {
            .header-bottom__button {
                display: none;
            }

            .header-top__location {
                display: none;
            }

            .header-top__work {
                display: none;
            }

            .header-top__socials {
                display: none;
            }
        }

        &__logo {
            width: 132px;
            height: 70px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .header-top__tel {
            display: none;
        }
    }
}

.burger {
    display: none;
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .burger {
        @include burger;
        display: block;
    }

    .header-top {
        display: none;
    }

    .header-bottom {
        &__menu {
            display: none;
            padding: 26px;
            position: absolute;
            left: 0;
            top: 110px;
            width: 100%;
            height: calc(100% - 110px);
            background-color: $white;
            z-index: 12;
            border-top: 1px solid $borderLine;

            &.menu--active {
                display: block;

                .nav__list {
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 12px;
                    margin-bottom: 20px;
                }

                .header-bottom__button {
                    display: flex;
                    margin-bottom: 20px;
                }

                .header-top__location {
                    display: flex;
                    margin-bottom: 20px;
                }

                .header-top__work {
                    display: flex;
                    margin-bottom: 20px;
                }

                .header-top__socials {
                    display: flex;
                }
            }
        }

        .header-top__tel {
            display: flex;
        }
    }

    .mobile-tablet-hide {
        display: none;
    }
}

@media screen and (max-width: $mob) {
    .header-bottom {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .header-bottom__logo {
        width: auto;
        height: 50px;
    }

    .header-bottom__menu {
        top: 74px;
        height: calc(100% - 74px);
        padding: 16px;
    }

    .burger {
        width: 24px;
        height: 24px;
    }

    .header-bottom__container {
        column-gap: 12px;
    }
}