<footer class="footer">
  <div class="footer-top">
    <div class="container footer-top__container">
      <a href="" class="footer-top__logo">
        <img loading="lazy" src="img/logo/merch_logo.png" class="image" width="" height="" alt="">
      </a>
      <nav class="nav" title="">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Пошив</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Нанесение</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Портфолио</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="header-top__tel elem-icon">
        <img loading="lazy" src="img/icons/icon_time.svg" class="image" width="" height="" alt="">
        <a href="tel:+7 999 777 33 77">+7 999 777 33 77</a>
      </div>
      <button class="btn-reset button1 header-bottom__button">Онлайн заявка</button>
      <div class="header-top__socials">
        <a class="header-top__social" href="">
          <img loading="lazy" src="img/socials/icon_telegram.png" class="image" width="" height="" alt="">
        </a>
        <a class="header-top__social" href="">
          <img loading="lazy" src="img/socials/icon_whatsapp.png" class="image" width="" height="" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container footer-bottom__container">
      <a href="">Политика конфиденциальности</a>
      <span>© 2024 Мерч-ателье. Все права защищены!</span>
      <a href="">Разарботка сайта</a>
    </div>
  </div>

</footer>