.intro {
    @include bg-cover;
    position: relative;
    height: 280px;
    flex-shrink: 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: $backgrDark;
    }

    &__container {
        height: 100%;
    }

    &__content {
        position: relative;
        text-align: center;
        height: 100%;
        @include flexColumn;
        align-items: center;
        justify-content: center;
    }

    &__title {
        color: $white;
        margin-bottom: 24px;
    }

    &__text {
        color: $white;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

@media screen and (max-width: $mob) {
    .intro__title {
        margin-bottom: 20px;
    }
}

.about {
    padding-top: 100px;

    &__container {
        @include gridColumn(2);
        gap: 24px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__item {
        padding: 16px 24px;
        border: 1px solid $greyLine;
        background: $white;
        @include flexCStart;
        column-gap: 20px;
        @include mb(20px);

        &-icon {
            width: 64px;
            height: 64px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            color: $dark;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    &__image {
        height: 100%;
        width: calc(100% - 24px);
        flex-shrink: 0;
        margin-left: 24px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: $laptop) {
    .about {
        padding-top: 80px;
    }

    .about__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .about {
        padding-top: 64px;
    }

    .about__title {
        margin-bottom: 32px;
    }

    .about__image {
        margin-left: 0;
        width: 100%;
        height: 400px;
    }

    .about__item {
        padding: 16px;
    }
}

@media screen and (max-width: $mob) {
    .about {
        padding-top: 40px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about__image {
        height: 300px;
    }
}

.example {
    &__title {
        margin-bottom: 50px;
    }

    &-item {
        border: 1px solid $greyLine;
        background: $white;
        width: 100%;
        height: 248px;
        flex-shrink: 0;
        padding: 24px 30px;
        display: inline-block;
        @include transition(border);

        &:hover {
            border: 1px solid $red;
        }

        &__image {
            width: 100%;
            height: 200px;
            flex-shrink: 0;
            @include flexCCenter;
        }
    }
}

@media screen and (max-width: $laptop) {
    .example__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .example__title {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .example__title {
        margin-bottom: 20px;
    }

    .example-item {
        height: 200px;
    }

    .example-item__image {
        height: 150px;

        img {
            width: auto;
            height: 100%;
        }
    }
}

.price {
    &__title {
        margin-bottom: 50px;
    }

    &__table {
        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                background-color: $grey;

                tr {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

                    th {
                        padding-top: 12px;
                        padding-bottom: 16px;
                        text-align: center;
                        padding: 12px 45px 16px 45px;
                        color: $dark;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }
            }

            tbody {
                tr {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

                    td {
                        border-bottom: 1px solid $greyLine;
                        text-align: center;
                        padding: 24px 58px;
                        color: $dark;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $laptop) {
    .price__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .price__title {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .price__title {
        margin-bottom: 20px;
    }
}

.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    @include bg-cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    }

    &__title {
        margin-bottom: 50px;

        &::before {
            width: 360px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__block {
        position: relative;
        z-index: 1;
        background: $white;
        padding: 60px 48px;
    }

    &__title {
        text-align: center;

        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__form {
        @include flexFeBetween;
        column-gap: 24px;

        .form__label {
            margin-bottom: 0;
        }

        .form__btn {
            padding-left: 85px;
            padding-right: 120px;
        }
    }
}

@media screen and (max-width: $laptop) {
    .quote {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .quote__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .quote {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .quote__block {
        padding: 40px;
    }

    .quote__title {
        margin-bottom: 32px;
    }

    .quote__form {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

@media screen and (max-width: $mob) {
    .quote {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .quote__title {
        margin-bottom: 20px;
    }

    .quote__title::before {
        width: 100%;
    }

    .quote__block {
        padding: 20px;
    }
}

.order {
    &__title {
        margin-bottom: 50px;
    }

    &__items {
        @include gridColumn(4);
        gap: 24px;
    }

    &__item {
        border: 1px solid $greyLine;
        background: $white;
        padding: 16px;

        &-top {
            @include flexCStart;
            column-gap: 12px;
            margin-bottom: 12px;
        }

        &-icon {
            width: 48px;
            height: 48px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            color: $dark;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }

        &-text {
            color: $dark;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: $laptop) {
    .order__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .order__title {
        margin-bottom: 32px;
    }

    .order__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: $mob) {
    .order__title {
        margin-bottom: 20px;
    }

    .order__items {
        grid-template-columns: repeat(1, 1fr);
    }
}