<section class="intro" style="background-image: url(img/image/photo_banner.jpg);">
    <div class="container intro__container">
        <div class="intro__content">
            <h1 class="intro__title h1">Наше производство</h1>
            <div class="intro__text">
                <p>Индивидуальный подход и высокое качество</p>
            </div>
        </div>
    </div>
</section>

<section class="process section">
    <div class="container">
        <div class="process__item">
            <div class="process__item-content">
                <div class="process__item-top">
                    <div class="process__item-num">1</div>
                    <div class="process__item-name">Процесс начинается с идеи</div>
                </div>
                <div class="process__item-text">
                    <p>В зависимости от поставленной задачи мы можем использовать готовые и отработанные лекала или
                        привлекать конструктора по разработке индивидуальных лекал под ваш запрос.</p>
                </div>
            </div>
            <div class="process__item-image">
                <img loading="lazy" src="img/image/process1.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
        <div class="process__item">
            <div class="process__item-content">
                <div class="process__item-top">
                    <div class="process__item-num">2</div>
                    <div class="process__item-name">Выбор материалов и аксессуаров</div>
                </div>
                <div class="process__item-text">
                    <p>По каждому проекту мы проводим индивидуальную консультацию по подбору материалов
                        и фурнитуры для создания изделия вашей мечты! Правильно подобранные ткани и фурнитура
                        это залог успеха изделия.</p>
                </div>
            </div>
            <div class="process__item-image">
                <img loading="lazy" src="img/image/process2.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
        <div class="process__item">
            <div class="process__item-content">
                <div class="process__item-top">
                    <div class="process__item-num">3</div>
                    <div class="process__item-name">Подготовка выкройки</div>
                </div>
                <div class="process__item-text">
                    <p>По согласованным лекалам мы осуществляем раскрой тканей, который включает в себя:
                        настил тканей на раскроечном столе, рассечку настилов на части и вырезание деталей изделия.
                    </p>
                </div>
            </div>
            <div class="process__item-image">
                <img loading="lazy" src="img/image/process3.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
        <div class="process__item">
            <div class="process__item-content">
                <div class="process__item-top">
                    <div class="process__item-num">4</div>
                    <div class="process__item-name">Брендирование изделия</div>
                </div>
                <div class="process__item-text">
                    <p>В зависимости от выбранного вида нанесения готовый крой передается на печать или вышивку.
                        На данном этапе мы можем выполнить нанесение логотипа любой сложности.</p>
                </div>
            </div>
            <div class="process__item-image">
                <img loading="lazy" src="img/image/process4.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
        <div class="process__item">
            <div class="process__item-content">
                <div class="process__item-top">
                    <div class="process__item-num">5</div>
                    <div class="process__item-name">Процесс шитья</div>
                </div>
                <div class="process__item-text">
                    <p>Основной этап швейного производства, где из всех деталей кроя и фурнитуры собирается
                        полноценное изделие. Производство обладает профессиональным швейным оборудованием
                        для пошива широкого ассортимента изделий.</p>
                </div>
            </div>
            <div class="process__item-image">
                <img loading="lazy" src="img/image/process5.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
        <div class="process__item">
            <div class="process__item-content">
                <div class="process__item-top">
                    <div class="process__item-num">6</div>
                    <div class="process__item-name">Контроль качества и проверка готового изделия</div>
                </div>
                <div class="process__item-text">
                    <p>Специалисты отдела технического контроля проверяют каждое изделие на соответствие
                        нормам и при обнаружении брака изделие отправляется на переработку. После прохождения
                        проверки каждое изделие отпаривается, индивидуально упаковывается и маркируется</p>
                </div>
            </div>
            <div class="process__item-image">
                <img loading="lazy" src="img/image/process6.jpg" class="image" width="" height="" alt="">
            </div>
        </div>
    </div>
</section>

<section class="quote section" style="background-image: url(img/image/quote_banner.jpg);">
    <div class="container">
        <div class="quote__block">
            <div class="h2 quote__title">Получить предложение</div>
            <form action="#" class="form quote__form">
                <label class="form__label">
                    <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
                </label>
                <label class="form__label">
                    <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваш e-mail">
                </label>
                <label class="form__label">
                    <input type="text" name="Имя" class="input-reset form__input" placeholder="Контактный телефон">
                </label>
                <div class="form__btn-wrapper">
                    <button class="btn-reset button3 form__btn">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="examples-works">
    <div class="container">
        <h2 class="h2 examples-works__title">Примеры работ</h2>
        <div class="examples-works__items">
            <a href="img/products/photo_a1.png" class="examples-works__item" data-fancybox="gallery">
                <div class="examples-works__item-image">
                    <img loading="lazy" src="img/products/photo_a1.png" class="image" width="" height="" alt="">
                </div>
            </a>
            <a href="img/products/photo_a1.png" class="examples-works__item" data-fancybox="gallery">
                <div class="examples-works__item-image">
                    <img loading="lazy" src="img/products/photo_a2.png" class="image" width="" height="" alt="">
                </div>
            </a>
            <a href="img/products/photo_a1.png" class="examples-works__item" data-fancybox="gallery">
                <div class="examples-works__item-image">
                    <img loading="lazy" src="img/products/photo_a3.png" class="image" width="" height="" alt="">
                </div>
            </a>
            <div class="examples-works__item">
                <div class="examples-works__item-image">
                    <img loading="lazy" src="img/products/photo_a4.png" class="image" width="" height="" alt="">
                </div>
            </div>
            <div class="examples-works__item">
                <div class="examples-works__item-image">
                    <img loading="lazy" src="img/products/photo_a5.png" class="image" width="" height="" alt="">
                </div>
            </div>
            <div class="examples-works__item">
                <div class="examples-works__item-image">
                    <img loading="lazy" src="img/products/photo_a6.png" class="image" width="" height="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>