.hero {
    position: relative;

    &-item {
        @include bg-cover;
        height: 600px;
        flex-shrink: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        }

        &__container {
            height: 100%;
            padding-left: 74px;
            padding-right: 74px;
        }

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            z-index: 1;
            max-width: 650px;
        }

        &__title {
            margin-bottom: 48px;
        }
    }

    &__content,
    &__nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__container {
        height: 100%;
        position: relative;
    }

    .get-offer {
        position: absolute;
        right: 74px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $grey;
        padding: 32px;
        z-index: 1;
        width: 420px;

        &__title {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 32px;
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {

    .swiper-style3 .swiper-button-next,
    .swiper-style3 .swiper-button-prev {
        top: auto;
        bottom: 12px;
    }

    .swiper-style3 .swiper-button-prev {
        left: 52px;
        transform: translateX(-50%);
    }

    .swiper-style3 .swiper-button-next {
        right: 0px;
        transform: translateX(-50%);
    }

    .hero-item {
        height: 900px;
    }

    .hero-item__container {
        padding-left: 26px;
        padding-right: 26px;
    }

    .hero .get-offer {
        right: 26px;
    }

    .hero .get-offer {
        position: absolute;
        right: auto;
        left: 26px;
        bottom: 90px;
        top: auto;
        transform: none;
    }

    .hero-item__content {
        justify-content: flex-start;
        padding-top: 40px;
    }

    .hero-item__title {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .hero .get-offer {
        width: inherit;
        left: 16px;
        right: 16px;
        bottom: 70px;
        padding: 20px;
    }

    .hero-item__container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .swiper-style3 .swiper-button-next,
    .swiper-style3 .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .swiper-style3 .swiper-button-prev {
        left: 36px;
    }

    .swiper-style3 .swiper-button-next {
        right: -4px;
    }

    .swiper-style3 .swiper-pagination {
        bottom: 20px;
    }
}

.speciality {
    padding-top: 100px;
    padding-bottom: 148px;

    &__title {
        margin-bottom: 50px;
    }

    &-item {
        border: 1px solid $greyLine;
        background: $white;
        width: 100%;
        height: 204px;
        flex-shrink: 0;
        padding: 24px 13px;
        cursor: pointer;
        display: inline-block;

        &:hover {
            border: 1px solid $red;
        }

        &:active {
            color: green;
        }

        &__image {
            width: 100%;
            height: 120px;
            flex-shrink: 0;
            @include flexCCenter;
            margin-bottom: 16px;
        }

        &__name {
            color: $dark;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: $laptop) {
    .speciality {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .speciality__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .speciality {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .speciality__title {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .speciality {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .speciality__title {
        margin-bottom: 28px;
    }
}

.features {
    display: flex;

    &__title {
        margin-bottom: 24px;
    }

    &__content {
        flex: 0 0 100%;
        background-color: $grey;
        padding-top: 48px;
        padding-bottom: 48px;
        width: 50%;
    }

    &__image {
        flex: 0 0 45%;
        transform: translate(-100%, 0px);
        position: relative;
        background-color: $white;

        &-big {
            width: 100%;
            height: 500px;
            flex-shrink: 0;
            margin-top: -50px;

            img {
                width: 100%;
                height: 100%;
                object-position: top;
            }
        }

        &-small {
            position: absolute;
            left: -65px;
            bottom: -130px;
            width: 474px;
            height: 400px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-position: top;
            }
        }
    }

    &__body {
        width: 50%;
    }

    &__text {
        color: $dark;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 32px;

        p {
            @include mb(8px);
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .features {
        flex-direction: column;
        align-items: flex-start;
    }

    .features__content {
        width: 100%;
    }

    .features__body {
        width: 100%;
    }

    .features__image {
        flex: none;
        transform: none;
    }

    .features__image {
        @include gridColumn(2);
        width: 100%;
    }

    .features__image-big,
    .features__image-small {
        margin-top: 0;
        position: static;
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: $mob) {
    .features__image {
        @include gridColumn(1);
        width: 100%;
    }

    .features__image-big,
    .features__image-small {
        height: 300px;

        img {
            object-position: top;
        }
    }
}

.works {
    padding-top: 150px;
    padding-bottom: 100px;

    &__top {
        @include flexCBetween;
        margin-bottom: 50px;
    }

    &-item {
        display: inline-block;
        outline: none;
        width: 100%;

        &__image {
            width: 100%;
            height: 268px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: $laptop) {
    .works {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .works__top {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .works {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .works__top {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .works {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .works__top {
        margin-bottom: 20px;
    }

    .works-item__image {
        height: 250px;
    }
}

.form-cost {
    display: flex;
    padding-right: max(26px, calc((100% - 1320px) / 2));
    background-color: $grey;
    height: 572px;

    &__title {
        margin-bottom: 50px;
    }

    &__image {
        width: calc(100% - 562px);
        position: relative;
        height: 100%;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__block {
        width: 562px;
        flex-shrink: 0;
        padding: 80px 50px;
    }
}

@media screen and (max-width: $laptop) {
    .form-cost__title {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .form-cost {
        @include gridColumn(2);
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        height: 500px;
    }

    .form-cost__image {
        width: 100%;
        height: 500px;
    }

    .form-cost__block {
        width: 100%;
        padding: 60px 40px;
        height: 100%;
    }

    .form-cost__title {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .form-cost {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .form-cost__image {
        height: 300px;
    }

    .form-cost__block {
        padding: 20px;
    }

    .form-cost__title {
        margin-bottom: 20px;
    }
}

.reviews {
    padding-top: 100px;
    padding-bottom: 100px;

    &__top {
        @include flexCBetween;
        margin-bottom: 50px;
    }

    &-item {
        border: 1px solid $greyLine;
        background: $white;
        padding: 24px 20px 20px 20px;
        position: relative;

        &__icon {
            position: absolute;
            right: 20px;
            top: -24px;
            width: 48px;
            height: 48px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__top {
            @include flexCStart;
            column-gap: 12px;
            margin-bottom: 8px;
        }

        &__name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }

        &__rating {
            width: 68px;
            height: 12px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            color: $dark;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 20px;
        }

        &__bottom {
            @include flexCBetween;
        }

        &__link {
            color: $red;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            @include transition(color);

            &:hover {
                color: $redHover;
            }
        }

        &__date {
            color: $dark;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media screen and (max-width: $laptop) {
    .reviews {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .reviews__top {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: $tablet) {
    .reviews {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .reviews__top {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: $mob) {
    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .reviews-item__top,
    .reviews-item__bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }

    .reviews-item {
        padding: 16px;
    }

    .reviews-item__icon {
        width: 40px;
        height: 40px;
    }

    .reviews__top {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
}