.button1 {
    color: $red;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid $red;
    background-color: $white;
    height: 48px;
    padding: 0 24px;
    @include flexCCenter;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    flex-shrink: 0;


    &:hover {
        background-color: $red;
        color: $white;
    }
}

.button2 {
    @include flexCCenter;
    padding: 0 24px;
    height: 56px;
    flex-shrink: 0;
    background-color: $red;
    column-gap: 12px;
    width: fit-content;
    cursor: pointer;

    span {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    &:hover {
        
    }
}