.nav {

    &__list {
        @include flexCenter;
        column-gap: 60px;
    }

    &__item {}

    &__link {
        color: $dark;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        @include transition(color);

        &:hover {
            color: $red;
        }
    }
}