.swiper-style {
    position: relative;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0px;
        width: 48px;
        height: 48px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left.svg);
        left: -64px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right.svg);
        right: -64px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-right.svg);
        }
    }
}

.swiper-style2 {
    position: relative;

    .swiper {
        overflow: inherit;
    }

    .swiper-buttons {
        @include flexCenter;
        column-gap: 12px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 48px;
        height: 48px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        position: static;
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-border-left.svg);
        left: -64px;

        &:hover {
            background-image: url(../img/arrows/arrow-border-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-border-right.svg);
        right: -64px;

        &:hover {
            background-image: url(../img/arrows/arrow-border-right-active.svg);
        }
    }

    .swiper-style__bottom {
        justify-content: space-between;
        position: relative;
        z-index: 0;
    }

    .swiper-pagination {
        position: static;
        display: flex;
        justify-content: center;
        column-gap: 16px;
        width: fit-content;
    }

    .swiper-pagination-bullet {
        opacity: 1;
        width: 16px;
        height: 16px;
        margin: 0 !important;
        background: #F5F5FA;
        box-shadow: -2px -2px 4px 0px #FFF inset, 2px 2px 4px 0px rgba(170, 170, 204, 0.50) inset, 2px 2px 2px 0px rgba(170, 170, 204, 0.25) inset, -2px -2px 2px 0px rgba(255, 255, 255, 0.50) inset;
    }

    .swiper-pagination-bullet-active {
        background: var(--Linear, linear-gradient(90deg, #004D43 1.97%, #02B45E 96.94%));
        box-shadow: none;
    }
}

.swiper-style3 {

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 52px;
        height: 52px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        position: static;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-border-left.svg);
        left: -26px;

        &:hover {
            background-image: url(../img/arrows/arrow-border-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-border-right.svg);
        right: -26px;

        &:hover {
            background-image: url(../img/arrows/arrow-border-right-active.svg);
        }
    }

    .swiper-pagination {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
        width: fit-content;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        opacity: 1;
        width: 16px;
        height: 16px;
        margin: 0 !important;
        background: $greyLine;
        border-radius: 0px;
    }

    .swiper-pagination-bullet-active {
        background-color: $red;
        box-shadow: none;
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {

    .swiper-style2 .swiper-button-next,
    .swiper-style2 .swiper-button-prev {
        width: 32px;
        height: 32px;
    }
}